@import "tailwindcss";

@keyframes partner-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes flow-shift {
  to {
    background-position: 200% center;
  }
}

/* Hide scrollbars globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
